/* CORES DO SITE - FONTE */
@branco: #fff;
@cinza-claro-1: #fafaf9;
@cinza-claro: #f4f4f4;
@cinza-medio: #9b9b9b;
@cinza-medio-1: #54596e;
@cinza-escuro: #303030;
@vermelho: #c63131;
@verde: #48e4c2;
@laranja: #ffa024;
@rosa: #ff7c7f;

/* FONTE FAMILY */
@fredoka: "Fredoka One", cursive;
@montserrat: "Montserrat", sans-serif;

/* IMAGENS */
@cadastro: "../img/fundo-cadastro.png";
@logo-footer: "../img/logo_hibrido.png";

/* GERAL */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  font-family: @montserrat;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  height: auto;
  max-width: 100%;
}
.botao-transparente {
  background-color: transparent;
  color: @branco;
  cursor: pointer;
}
.titulo-main {
  font-size: 45px;
  line-height: 1.1;
  font-family: @fredoka;
  margin-bottom: 1rem;
}
.card {
  position: absolute;
  z-index: 1;
  height: 430px;
  width: 100%;
  top: 7px;
  left: 9px;
  border-radius: 5px;
  transition: 0.5s;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  background-color: @vermelho;
  padding: 8px 15px 5px 15px;
}

.menu {
  display: flex;
  align-items: center;
  &-logo {
    padding-right: 18px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  &-direito {
    align-items: center;
    display: flex;
  }
  &-direito > li,
  &-esquerdo > li {
    float: left;
    margin: 0 5px 0 0;
    padding-left: 20px;
  }
  &-direito > li a,
  &-esquerdo > li a {
    font-size: 14px;
    font-weight: bold;
    color: @branco;
  }
}

.btn-pedidos {
  border: 2px solid @branco;
  padding: 9px 30px;
  border-radius: 5px;
  transition: 0.3s;
  white-space: nowrap;
  word-spacing: 5px;
  &:hover {
    background-color: @branco;
    color: @vermelho;
  }
  & span:hover {
    color: @branco;
    background: @vermelho;
  }
}

li:last-child {
  margin: 0;
}

.btn-carrinho {
  padding-right: 0;
  & span {
    background-color: @branco;
    color: @vermelho;
    width: 52px;
    height: 50px;
    border-radius: 52px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    border: 1px solid @branco;
    transition: 0.3s;
  }
}

/* SLIDESHOW */
.slideshow {
  max-width: 100%;
  position: relative;
  margin: auto;
  &-slide {
    display: none;
  }
  &-img {
    vertical-align: middle;
    max-height: 300px;
  }
  &-dot {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 1rem;
  }
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: @vermelho;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin: 0 6px;
}

.active {
  border: 2px solid @branco;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* VANTAGENS */
.vantagens {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 50px;
  &-div {
    margin-bottom: 15px;
    text-align: center;
  }
  &-img-1,
  &-img-3 {
    height: 38px;
  }
  &-img-2 {
    height: 40px;
  }
  &-img-4 {
    height: 27px;
  }
  &-img-5 {
    height: 28px;
  }
  &-texto {
    font-size: 15px;
    font-weight: 600;
    color: @cinza-escuro;
    text-align: center;
  }
}

/* PRODUTOS */
.produtos {
  display: flex;
  flex-flow: row;
  text-align: center;
  justify-content: center;
  padding: 0 15px;
  > div {
    position: relative;
    margin: 10px 40px;
  }
  &-img {
    width: auto;
    max-height: 193px;
  }
  &-titulo {
    font-size: 26px;
    font-family: @fredoka;
    color: @branco;
    margin-bottom: 20px;
  }
  &-descricao {
    font-size: 15px;
    font-weight: 300;
    color: @branco;
    letter-spacing: 1px;
    padding: 15px;
  }
  &-btn {
    font-size: 14px;
    letter-spacing: 1px;
    background-color: @branco;
    border: 3px solid @branco;
    border-radius: 5px;
    padding: 8px 45px;
    &.produtos-pulseira {
      color: @verde;
    }
    &.produtos-ingressos {
      color: @laranja;
    }
    &.produtos-ticket {
      color: @rosa;
    }
    &:hover {
      .botao-transparente();
    }
  }
  &-div {
    margin-top: 10px;
  }
  &-card {
    max-width: 330px;
    /*height: 430px;
    display: flex;
    align-items: center;
    border: 4px solid @cinza-medio-1;
    border-radius: 5px;
    margin: 10px 40px;*/

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 5;
    border: 4px solid #54596e;
    border-radius: 5px;
    height: 430px;
  }
}
.ingressos {
  background-color: @laranja;
  .card();
}
.ticket {
  background-color: @rosa;
  .card();
}
.pulseira {
  background-color: @verde;
  .card();
}
.produtos > div:hover .pulseira,
.produtos > div:hover .ticket,
.produtos > div:hover .ingressos {
  top: 0;
  left: 0;
}
/* VEJA COMO */
.instrucao {
  text-align: center;
  color: @vermelho;
  background-color: @cinza-claro-1;
  padding: 130px 0px 20px 0px;
  &-content {
    max-width: 1240px;
    height: 1240px;
    background-color: @branco;
    border-radius: 50%;
    margin: 0 auto;
  }
  &-img {
    width: 70px;
    margin-top: -3%;
  }
  &-descricao {
    font-size: 15px;
  }
  &-titulo {
    .titulo-main();
  }
}
.dica {
  max-width: 850px;
  display: flex;
  flex-flow: row wrap;
  text-align: left;
  margin: 10px auto;
  &-img {
    max-height: 310px;
    width: 100%;
  }
  &.aprove {
    justify-content: end;
    text-align: right;
  }
  &-div {
    flex-basis: 50%;
  }
  &-descricao {
    display: flex;
    flex-flow: column;
    flex-basis: 30%;
    justify-content: center;
  }
  &-numero {
    font-size: 40px;
    font-family: @fredoka;
  }
  &-titulo {
    font-size: 27px;
    font-family: "Fredoka One", cursive;
    margin-bottom: 1rem;
    line-height: 1.1;
  }
  &-texto {
    font-size: 14px;
  }
}

/* CLIENTES */
.clientes {
  margin-bottom: 50px;
  margin-top: 50px;
  &-titulo {
    max-width: 403px;
    text-align: center;
    color: @vermelho;
    letter-spacing: 0.9px;
    margin: 0 auto 1rem auto;
    .titulo-main();
  }
}

/* CADASTRO */
.cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  background-color: @vermelho;
  background-image: url(@cadastro) !important;
  &-label {
    display: block;
    text-align: center;
    max-width: 530px;
    margin: 35px 0 30px 0;
  }
  &-titulo {
    font-size: 32px;
    line-height: 33px;
    color: @branco;
    font-family: @fredoka;
  }
  &-btn {
    width: 200px;
    height: 50px;
    font-weight: 600;
    color: @vermelho;
    background-color: @branco;
    border: 2px solid @branco;
    border-radius: 5px;
    &:hover {
      .botao-transparente();
    }
  }
  &-formulario {
    display: flex;
    align-items: flex-start;
  }
  &-formulario > div:first-child {
    width: 410px;
  }
  &-formulario > div:last-child {
    margin-left: 10px;
  }
}
input {
  width: 47%;
  height: 50px;
  font-weight: 300;
  background-color: @branco;
  border: none;
  border-radius: 5px;
  padding-left: 25px;
  margin-left: 10px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 55px;
}

/* FORMAS DE PAGAMENTO */
.pagamento {
  display: flex;
  justify-content: space-between;
  padding: 0 15px 15px 15px;
  &-titulo {
    font-size: 15px;
    font-weight: 900;
    line-height: 1;
    color: @cinza-escuro;
    margin-bottom: 1rem;
    padding-top: 25px;
  }
  &-seguranca {
    margin-top: -15px;
  }
}

/* MAPIAMENTO DA PÁGINA */
.footer {
  background-color: @cinza-claro;
  > div {
    display: flex;
    justify-content: space-between;
    padding: 50px 15px 220px 15px;
  }
  &-mapiamento {
    display: grid;
    grid-template-columns: auto auto auto;
    > div {
      margin-right: 65px;
    }
  }
  &-titulo {
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    color: @cinza-escuro;
    margin-bottom: 15px;
  }
  &-link,
  &-num {
    margin-bottom: 10px;
  }
  &-num > a {
    font-size: 27px;
    color: @vermelho;
    font-family: @fredoka;
    margin-top: -10px;
  }
  &-link > a {
    font-size: 14px;
    font-weight: 600;
    color: @cinza-medio;
  }
  &-email > a {
    color: @vermelho;
  }
}

/* ICONS */
.icon {
  display: flex;
  &-map > a {
    font-size: 30px;
    font-weight: 100;
    color: @vermelho;
    margin: 0 16px 0 40px;
  }
}

/* DESENVOLVIDO POR */
.autor {
  text-align: center;
  font-weight: 300;
  line-height: 20px;
  color: @cinza-medio;
  letter-spacing: 0.09px;
  > div {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 90px;
    justify-content: center;
    align-items: center;

    > span {
      margin-bottom: 30px;
    }
  }
  &-desenvolvido {
    color: @cinza-medio;
    background: url(@logo-footer) no-repeat right center;
    padding-right: 20px;
    opacity: 0.4;
  }
}

/* RESPOSIVO */
@media screen and (max-width: 900px) {
  header {
    padding: 15px 15px 15px 15px;
  }
  .menu-direito > li a,
  .menu-esquerdo > li a {
    font-size: 12px;
  }
  .menu-logo {
    padding-right: 0;
    min-width: 100px;
    width: 14.179104478%;
  }
  .btn-pedidos {
    padding: 8px 20px;
  }
  .produtos {
    flex-flow: row wrap;
    padding-inline-start: 0;
  }
  .instrucao-content {
    border-radius: 40px;
    max-width: 1340px;
    padding: 0 15px;
    margin: 0 15px;
  }
  .dica,
  .dica.aprove {
    justify-content: center;
    &-img {
      margin-left: -20px;
    }
    &.aprove {
      margin-left: 20px;
    }
  }

  .cadastro-formulario {
    flex-direction: column;
    align-items: center;
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    > div:first-child {
      margin-bottom: 1rem;
    }
    > div:last-child {
      margin-left: 0px;
    }
  }
  input {
    width: 100%;
    margin-bottom: 1rem;
    margin-left: 0;
  }
  .pagamento {
    flex-direction: column;
    align-items: center;
    padding: 0 15px 35px 15px;
  }
  .footer-mapiamento {
    grid-template-columns: auto;
    grid-gap: 10px;
    text-align: center;
    > div {
      margin-right: 0;
      margin-top: 20px;
    }
  }
  .footer > div {
    flex-direction: column-reverse;
    align-items: center;
  }

  .icon-map {
    padding-bottom: 15px;
  }
  .autor {
    margin: 10px;
    > div {
      grid-template-columns: auto;
      grid-gap: 10px;
      > span {
        margin-bottom: 0px;
      }
    }
  }
}
@media screen and (max-width: 760px) {
  .produtos {
    flex-flow: row wrap;
    padding-inline-start: 0;
    &-card {
      margin: 10px;
    }
  }
}

@media screen and (max-width: 470px) {
  .instrucao-img {
    margin-top: -10%;
  }
  .instrucao-titulo {
    font-size: 35px;
  }
  .instrucao-content {
    height: auto;
    padding-bottom: 40px;
  }
  .dica-img {
    display: none;
  }
  .dica-descricao {
    flex-basis: 100%;
    margin: 25px 25px;
  }
}
