* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

ul {
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* HEADER */
header {
  background-color: #c63131;
  display: flex;
  justify-content: space-between;
  padding: 8px 15px 5px 15px;
}

.logo img {
  height: auto;
  max-width: 100%;
}

.logo {
  padding-right: 18px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-direito {
  align-items: center;
  display: flex;
}
.menu-direito > li,
.menu-esquerdo > li {
  float: left;
  margin: 0 5px 0 0;
  padding-left: 20px;
}

.menu-direito > li a,
.menu-esquerdo > li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.btn-pedidos {
  border: 2px solid #fff;
  padding: 9px 30px;
  border-radius: 5px;
  transition: 0.3s;
  white-space: nowrap;
  word-spacing: 5px;
}

.btn-pedidos:hover {
  background-color: #fff;
  color: #c63131;
}

.btn-carrinho span:hover {
  color: #fff;
  background: #c63131;
}

li:last-child {
  margin: 0;
}

.btn-carrinho {
  padding-right: 0;
}

.btn-carrinho span {
  background-color: #fff;
  color: #c63131;
  width: 52px;
  height: 50px;
  border-radius: 52px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  border: 1px solid #fff;
  transition: 0.3s;
}

/* BANNER */
.mySlides {
  display: none;
}
.banner {
  vertical-align: middle;
  max-height: 300px;
}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #c63131;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin: 0 6px;
}

.slideshow-dot {
  position: absolute;
  /*bottom: 25px;*/
  left: 50%;
  text-align: center;
}

.active,
.dot:hover {
  background: transparent;
  border: 2px solid #c63131;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* VANTAGENS */
.vantagens {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 50px;
}

.div-img-vantagens {
  margin-bottom: 15px;
  text-align: center;
}

.img-vantagens1,
.img-vantagens3 {
  max-height: 38px;
}

.img-vantagens2 {
  height: 40px;
}

.img-vantagens4 {
  height: 27px;
}

.img-vantagens5 {
  height: 28px;
}

.texto-vantagens {
  text-align: center;
  font-weight: 600;
  color: #303030;
  font-size: 15px;
}

/* PRODUTOS */
.produtos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  padding: 0 15px;
  text-align: center;
  justify-items: center;
}
.img-produtos {
  width: auto;
  max-height: 193px;
}

.titulo-produtos {
  font-family: "Fredoka One", cursive;
  color: white;
  margin-bottom: 20px;
  font-size: 26px;
}

.descricao-produtos {
  color: white;
  font-weight: 300;
  padding: 15px;
  font-size: 15px;
  letter-spacing: 1px;
}

.produtos div a {
  text-decoration: none;
}

.btn-produtos {
  background-color: white;
  padding: 8px 45px;
  border-radius: 5px;
  border: 3px solid #fff;
  font-size: 14px;
  letter-spacing: 1px;
}

.btn-produtos.pulseira {
  color: #48e4c2;
}
.btn-produtos.ingressos {
  color: #ffa024;
}
.btn-produtos.ticket {
  color: #ff7c7f;
}

.btn-produtos:hover,
.btn-cadastro:hover {
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.btn-div {
  margin-top: 10px;
}

.card-produtos {
  max-width: 330px;
  border: 4px solid #54596e;
  border-radius: 5px;
  height: 430px;
  align-items: center;
  display: flex;
}

.card-produtos.pulseira {
  background-color: #48e4c2;
}
.card-produtos.ingressos {
  background-color: #ffa024;
}
.card-produtos.ticket {
  background-color: #ff7c7f;
}

/* VEJA COMO */
.instrucao {
  color: #c63131;
  text-align: center;
  background-color: #fafaf9;
  padding: 130px 0px 20px 0px;
}
.instrucao-content {
  background-color: white;
  border-radius: 50%;
  max-width: 1240px;
  margin: 0 auto;
  height: 1240px;
}

.img-click {
  width: 70px;
  margin-top: -3%;
}
.titulo-instrucao,
.titulo-clientes {
  font-family: "Fredoka One", cursive;
  font-size: 45px;
  line-height: 1.1;
  margin-bottom: 1rem;
}
.descricao-instrucao {
  font-size: 15px;
}

.img-instrucao {
  max-height: 310px;
  width: 100%;
}

.dica {
  margin-top: 3%;
  margin: 10px auto;
  margin-top: 10px;
  display: flex;
  flex-flow: row wrap;
  max-width: 850px;
  text-align: left;
}
.dica.aprove {
  justify-content: end;
  text-align: right;
}

.dica-img {
  flex-basis: 50%;
}
.dica-descricao {
  flex-basis: 30%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.dica-numero {
  font-size: 40px;
  font-family: "Fredoka One", cursive;
}
.dica-titulo {
  font-size: 27px;
  font-family: "Fredoka One", cursive;
  margin-bottom: 1rem;
  line-height: 1.1;
}
.dica-texto {
  font-size: 14px;
}

/* CLIENTES */
.titulo-clientes {
  max-width: 403px;
  margin: 0 auto;
  color: #c63131;
  font-size: 45px;
  text-align: center;
  letter-spacing: 0.9px;
}

.clientes {
  margin-bottom: 50px;
  margin-top: 50px;
}

/* CADASTRO */
.cadastro {
  background-color: #c63131;
  background-image: url("../img/fundo-cadastro.png") !important;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titulo-cadastro {
  font-size: 32px;
  line-height: 33px;
  color: white;
  font-family: "Fredoka One", cursive;
}
.label-titulo-cadastro {
  margin: 35px 0 30px 0;
  max-width: 530px;
  display: block;
  text-align: center;
}
input {
  font-weight: 300;
  height: 50px;
  margin-left: 10px;
  width: 47%;
  border-radius: 5px;
  background-color: #fff;
  border: none;
  padding-left: 25px;
}
.btn-cadastro {
  height: 50px;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #c63131;
  width: 200px;
  font-weight: 600;
}
.cadastro-formulario > div:first-child {
  width: 410px;
}
.cadastro-formulario > div:last-child {
  margin-left: 10px;
}
.cadastro-formulario {
  display: flex;
  align-items: flex-start;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 55px;
}

/* FORMAS DE PAGAMENTO */
.pagamento {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  padding: 0 15px 15px 15px;
}
.titulo-pagamento {
  line-height: 1;
  padding-top: 25px;
  font-size: 15px;
  color: #303030;
  font-weight: 900;
  margin-bottom: 2rem;
}

/* MAPIAMENTO DA PÃGINA */
.footer {
  background-color: #f4f4f4;
}
.footer-map {
  display: flex;
  justify-content: space-between;
  padding: 50px 15px 150px 15px;
}
.mapiamento {
  display: grid;
  grid-template-columns: auto auto auto;
}

.mapiamento > div {
  margin-right: 65px;
}

.titulo-map {
  line-height: 1;
  margin-bottom: 15px;
  font-size: 14px;
  color: #303030;
  font-weight: 600;
}
.link-map,
.num-map {
  margin-bottom: 10px;
}
.num-map > a {
  color: #c63131;
  text-decoration: none;
  font-family: "Fredoka One", cursive;
  font-size: 27px;
  margin-top: -10px;
}

.link-map > a {
  font-size: 14px;
  color: #9b9b9b;
  text-decoration: none;
  font-weight: 600;
}

.email-map > a {
  color: #c63131;
  text-decoration: none;
}

/* ICONS */
.icon {
  display: flex;
}
.icon-map > a {
  font-weight: 100;
  font-size: 30px;
  color: #c63131;
  margin-left: 40px;
  margin-right: 16px;
}

/* DESENVOLVIDO POR */
.autor {
  text-align: center;
  color: #9b9b9b;
  line-height: 20px;
  letter-spacing: 0.09px;
  font-weight: 300;
}
.autor > div {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 90px;
  justify-content: center;
  align-items: center;
}

.autor > div > span {
  margin-bottom: 30px;
}
.desenvolvido-autor {
  color: #9b9b9b;
  background: url("../img/logo_hibrido.png") no-repeat right center;
  padding-right: 20px;
  opacity: 0.4;
  transition: 0.3s;
  text-decoration: none;
}
